.inputtext_labelcontainer {
  position: relative;
}

.inputtext__label {
  position: relative;
  font-size: 10px;
  top: 15px;
  left: 0px;
  color: var(--text-4);
}

.inputtext__icons {
  visibility: hidden;
  position: absolute;

  .inputtext__searchicon {
    background-color: var(--base-5);
    position: relative;
    left: 10px;
    top: 10px;
  }

  .inputtext__searchicon--visible {
    visibility: visible;
  }
  
  .inputtext__clearicon {
    background-color: var(--base-5);
    position: relative;
    left: 190px;
    top: 10px;
  }

  .inputtext__cleariconpath {
    fill: var(--text-3);
  }
  
  .inputtext__clearicon--visible {
    visibility: visible;
  }
}

.inputtext__input {
  /* border: 0; */
  border-width: 0.5px;
  border-radius: 500px;
  height: 30px;
  padding: 6px 48px;
  text-overflow: ellipsis;
  width: 150px;

  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
  cursor: text;
  background-color: var(--base-5);
}



.inputtext__searchiconpath {
  fill: var(--text-3);
}