.albumdetail {
  bakground-color: var(--neutral-2);
}

.albumdetail__template {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-areas:
    ". image title ."
    ". labels detaildata ."
    "player player player player";
  gap: 1rem;
}

.albumdetail__img {
  grid-area: image;
  width: 50%;
  padding: 2rem;
  justify-self: end;
  align-self: center;
}

.albumdetail__title {
  grid-area: title;
  color: var(--text-1);
  align-self: center;
}

.albumdetail__titletype {
  color: var(--text-2);
}

.albumdetail__titlename {
  font-size: 2rem;
  margin: 1rem 0;
}

.albumdetail__titleartist {
  font-size: 1.3rem;
  color: var(--text-2);
}

.albumdetail__player {
  grid-area: player;
  justify-self: center;
  padding-left: 5%;
}

.albumdetail__labels {
  grid-area: labels;
  color: var(--text-2);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
  padding-left: 60%;  
}

.albumdetail__detaildata {
  grid-area: detaildata;
  color: var(--text-2);
  display: flex;
  flex-direction: column;

  gap: 1rem;
  padding-top: 1rem;
}

.albumdetail__detaildatagoto {
  width: 20px;
}
